upstream unicorn {
  server unix:/tmp/unicorn.toyouface.sock fail_timeout=0;
}
server {
  listen 8080 default;
  root /home/zhangw/workspace/toyouface/public;

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_pass http://unicorn;
  }

  error_page 500 502 503 504 /500.html;
}
